<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>常见问题</title>
   		<link href="../css/mui.min.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="../css/com.css"/>
		<style type="text/css">
			#com-que li{
				font-size: .14rem;
			}
			#com-que li p{
				font-size: .1rem;
			}
			.mui-table-view-cell:after{
				left: 0;
			}
		</style>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav">
	   		<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></span>			
	    	<h1 class="mui-title">常见问题</h1>
		</header>
		<div class="mui-content mui-table-view" id="com-que">
		    <li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">1:怎样参加1元夺宝</a>
	            <div class="mui-collapse-content">
	                <p>登录成功后。就可以参加1元夺宝。参与方式<br />a、花费1元即可获得1彩宝币，选择自己喜欢的商品开始夺宝;<br />b、点击一个感兴趣的商品，选中要参与的人次并支付（推荐充值，使用余额支付），即可参与1元夺宝。</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">2:商品是正品吗？如何保证</a>
	            <div class="mui-collapse-content">
	                <p>一元夺宝所有商品均从正规渠道采购，100%正品，享受厂家所有提供的全国联保服务。</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">3:收到的商品可以退换货吗？</a>
	            <div class="mui-collapse-content">
	                <p>非质量问题，不在三包范围内，不给予退换货；请尽量亲自签收并当面拆箱验货，如果发现运输途中造成了商品的损坏，请您不要签收，可以拒签退回。</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">4:什么是彩宝币？</a>
	            <div class="mui-collapse-content">
	                <p>彩宝币是1元夺宝的代币，用户每花费1元即可获得一个彩宝币；个彩宝币可以直接购买1个夺宝号码，彩宝币无法提现。</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">5:中奖号码如何产生？</a>
	            <div class="mui-collapse-content">
	                <p>每个商品都有总参与人次的最低要求，参与该商品夺宝的人次达到最低人次要求的5分钟后开奖。
	                	如何计算开奖号码：截至该奖品开奖时间点前本站全部奖品的最后50位参与时间所代表数值之和（A)除以奖品所需人次（b）取得余数（c)，取得的余数c加上10000001就是中奖号码了</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">6:如何查看我是否中奖？</a>
	            <div class="mui-collapse-content">
	                <p>在您所参与的商品幸运号码公布后，您可以点击我的页面，点击夺宝记录，您可以查看您的参与记录以及夺宝记录。</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">7:如何领取中奖商品？</a>
	            <div class="mui-collapse-content">
	                <p>中奖后，您需要点击我的页面中的已中奖，进入您的中奖列表页面，查看中奖信息并确认收货地址。确认完毕后，我们会尽快给您安排快递配送。本次中奖产品，在活动结束后7天内发货，请注意接听快递电话</p>
	            </div>
        	</li>
		</div>
	</body>
	<script src="../js/mui.js" type="text/javascript" charset="utf-8"></script>
</html>
