<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>常见问题</title>
   		<link href="../css/mui.min.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="../css/com.css"/>
		<style type="text/css">
			#com-que li{
				font-size: .14rem;
			}
			#com-que li p{
				font-size: .1rem;
			}
		</style>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav">
	   		<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><a href=""></a></span>			
	    	<h1 class="mui-title">常见问题</h1>
		</header>
		<div class="mui-content mui-table-view" id="com-que">
		    <li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">1:怎样参加1元夺宝</a>
	            <div class="mui-collapse-content">
	                <p>面板1子内容</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">1:怎样参加1元夺宝</a>
	            <div class="mui-collapse-content">
	                <p>登录成功后。就可以参加1元夺宝。参与方式<br />a、花费1元即可获得1彩宝币，选择自己喜欢的商品开始夺宝</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">2:怎样参加1元夺宝</a>
	            <div class="mui-collapse-content">
	                <p>面板1子内容</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">3:怎样参加1元夺宝</a>
	            <div class="mui-collapse-content">
	                <p>面板1子内容</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">4:怎样参加1元夺宝</a>
	            <div class="mui-collapse-content">
	                <p>面板1子内容</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">5:怎样参加1元夺宝</a>
	            <div class="mui-collapse-content">
	                <p>面板1子内容</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">6:怎样参加1元夺宝</a>
	            <div class="mui-collapse-content">
	                <p>面板1子内容</p>
	            </div>
        	</li>
        	<li class="mui-table-view-cell mui-collapse ">
            <a class="mui-navigate-right" href="#">7:怎样参加1元夺宝</a>
	            <div class="mui-collapse-content">
	                <p>面板1子内容</p>
	            </div>
        	</li>
		</div>
	</body>
	<script type="text/javascript">
	var h5pullDown = true;
	</script>
	<script src="../js/mui.js" type="text/javascript" charset="utf-8"></script>
</html>
