<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="referrer" content="never">
		<!--忽略电话号码和email识别-->
		<meta name="format-detection" content="telephone=no"/>
		<meta name="format-detection" content="email=no"/>
		<!--当网站添加到主屏幕快速启动方式，将网站添加到主屏幕快速启动方式-->
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<!--隐藏ios上的浏览器地址栏-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<!-- UC默认竖屏 ，UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<!-- QQ强制竖屏 QQ强制全屏 -->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="x5-page-mode" content="app">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<script src="../js/fiexible.js" type="text/javascript" charset="utf-8"></script>
		<title>我的钱包</title>
   		<link href="../css/mui.min.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="../css/com.css"/>
		<style type="text/css">
			.wallet{
				background: #fff;
				height: 4.1rem;
				padding: 5% ;
				border-bottom: 1px solid #FAFAFA;
			}
			.wallet h5{
				color: #333;
			}
			.wallet h4{
				margin-top: 1rem;
				margin-bottom: .3125rem;
			}
			.wallet span{
				font-size: .375rem;
				color: #C0C0C0;
			}
			.pay{
				text-align: center;
				line-height: 1.25rem;
				background: #fff;
				
			}
			.pay a{
				color: #F54A12;
			}
		</style>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav">
	   		<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><a href=""></a></span>			
	    	<h1 class="mui-title">钱包</h1>
		</header>
		<div class="mui-content">
		    <div class="wallet">
		    	<h5>余额账户</h5>
		    	<h4 id="moeny">11111111</h4>
		    	<span>彩宝币(1元=1彩宝币)</span>	    	
		    </div>
		    <div class="pay">
		    	<a href="Recharge.html">充值</a>
		    </div>
		</div>
	</body>
	
	
	<script type="text/javascript">

if(localStorage.user){
	var user  = JSON.parse(localStorage.user).userInfo;
	document.querySelector('#moeny').innerText = user.money;
}

		document.querySelector('.mui-action-back').addEventListener('touchend',function(){
			
			window.history.back();
		})
		
	</script>
</html>
