<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>参加成功</title>
   		<link href="../css/mui.min.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="../css/com.css"/>
		<style type="text/css">
			.succ-show{
				position: relative;
				height: 2rem;
				width: 100%;
				text-align: center;
				padding-top: .3rem;
			}
			.succ-show>h4{
				margin: .1rem 0;
				color: limegreen;
				font-weight: normal;
			}
			.succ-show>a{
				width: 1.3rem;
				margin-right: .1rem;
			}
			.succ-show>button{
				width: 1.3rem;				
			}
		</style>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav">
	   		<span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><a href=""></a></span>			
	    	<h1 class="mui-title">参加成功</h1>
		</header>
		<div class="mui-content">
		   	<div class="succ-show">
		   		<h4>恭喜您，参与成功！</h4>
		   		<p>请等待系统为您揭晓！</p>
		   		<a class="mui-btn mui-btn-danger" href="../index.html">继续夺宝</a>
		   		<button class="mui-btn mui-btn-default duobaojilu">查看夺宝记录</button>
		   	</div>
		</div>
	</body>
	
	<script src="../js/ajax.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">

		document.querySelector('.mui-action-back').addEventListener('click',function(){
			
			document.location.href = '../detail.html'
			
		})
		//支付成功更新用户信息
		upuserinfor({
			callback:function(res){
				localStorage.user = res;
			}
		})
		document.querySelector('.duobaojilu').ontouchend = function(){
			localStorage.type = 0; //记录页 初始显示全部
			document.location.href = 'indiana-recode.html';
		}
		
		function upuserinfor(opt){
			if(localStorage.user){
				var User = JSON.parse(localStorage.user);
				var UserInfo = User.userInfo;
				var config = {
					userId:UserInfo.userId,
					token:UserInfo.caibaoToken,
					callback:function(res){
						
					}
				}
				for( var i in opt ){
					config[i] = opt[i]
				}
				var Url ='?userId='+config.userId+'&token='+config.token;
				jsajax({
					method:'post',
					url:HostPort+'/user/info'+Url,
					success:function(res){
						config.callback(res)
					}
				})
			}
		}
		
	</script>
</html>
