op9<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="referrer" content="never">
		<!--忽略电话号码和email识别-->
		<meta name="format-detection" content="telephone=no"/>
		<meta name="format-detection" content="email=no"/>
		<!--当网站添加到主屏幕快速启动方式，将网站添加到主屏幕快速启动方式-->
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<!--隐藏ios上的浏览器地址栏-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<!-- UC默认竖屏 ，UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<meta name="browsermode" content="application">
		<!-- QQ强制竖屏 QQ强制全屏 -->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="x5-page-mode" content="app">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<script src="../js/fiexible.js" type="text/javascript" charset="utf-8"></script>
		<title>充值</title>
   		<link href="../css/mui.min.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="../css/com.css"/>
		<style type="text/css">
			.optmoney{
				background: #fff;
				overflow: hidden;
				padding-bottom: .3125rem;
			}
			.optmoney>p,.payway>p{
				padding: .3125rem 0;
				padding-left: .3125rem;
				background: #efeff4;
				color: #333;
				margin: 0;
			}
			.optmoney>button {
				width: 20%;
				height: 1.1rem;
				color: #C0C0C0;
				margin: 2% 1.9%;
				box-sizing: border-box;
				font-size: .375rem;
			}		
			.optmoney>input{
				width: 20%;
				height: 1.1rem;
				margin: 2% 1.9%;
				font-size: .375rem;
				padding: 0;
				text-align: center;
				background: none;
			}
			.optmoney>input.active{
				
				color: red;
				border-color: red;
			}
			.mui-input-row {
				clear: none;
			}
			.mui-radio input[type='radio']:checked:before {
				content: '\e442';
			}
			
			.mui-checkbox input[type=checkbox]:before,.mui-radio input[type=radio]:before{
				font-size: .625rem;
			}
			.mui-radio label, .mui-checkbox label{
				padding: .3125rem .3125rem;
			}
			.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
				width: .625rem;
				height: .625rem;
				right: 0;
				top: 0;
			}
			.mui-table-view-cell:after {
				left: 0;
			}
			.payway li .img{
				width: .625rem;
				height: .625rem;
				margin-right: .15625rem;
			}
			.payway li .img>img{
				width: 100%;
				height: 100%;
			}
			.btn-recharge{
				width: 100%;
				position: fixed;
				bottom: .625rem;
			}			
			.btn-recharge>button{
				width: 90%; 
				margin: 0 5%;
			}
		</style>
	</head>
	<body>
		
		<header class="mui-bar mui-bar-nav">
	   		<span class="mui-icon mui-icon-left-nav mui-pull-left"><a href="../detail.html"></a></span>			
	    	<h1 class="mui-title">充值</h1>
		</header>
		<div class="mui-content">
		   	<div class="optmoney">
		   		<p>请选择充值金额</p>
		   		<button class="mui-btn mui-btn-outlined">5</button>
		   		<button class="mui-btn mui-btn-outlined">10</button>
		   		<button class="mui-btn mui-btn-outlined">20</button>
		   		<button class="mui-btn mui-btn-outlined">50</button>
		   		<button class="mui-btn mui-btn-outlined">100</button>
		   		<button class="mui-btn mui-btn-outlined">200</button>
		   		<button class="mui-btn mui-btn-outlined">500</button>
		   		<input class="" type="number" placeholder="输入金额"/>
		   	</div>
		   	<div class="payway mui-table-view">
		   		<p>请选择充值方式</p>
		   		<li class="mui-table-view-cell">
		    		<div class="mui-pull-left img">
		    			<img src="../image/ic_pay_ali.png"/>
		    		</div>
		    		支付宝支付
		    		<div class="mui-input-row mui-checkbox mui-pull-right">
						<label></label>
						<input name="radio2" type="checkbox" id="alipay" checked="true">
					</div>
		    	</li>
		    	<li class="mui-table-view-cell">
		    		<div class="mui-pull-left img">
		    			<img src="../image/wechat.png"/>
		    		</div>
		    		微信支付
		    		<div class="mui-input-row mui-checkbox mui-pull-right">
						<label></label>
						<input name="radio2" type="checkbox" id="wechat" >
					</div>
		    	</li>
		    	<li class="mui-table-view-cell">
		    		<div class="mui-pull-left img">
		    			<img src="../image/ic_pay_union.png"/>
		    		</div>
		    		银联支付
		    		<div class="mui-input-row mui-checkbox mui-pull-right">
						<label></label>
						<input name="radio2" type="checkbox" id="payeco" >
					</div>
		    	</li>
		   	</div>
		   	<p style="font-size: .12rem;margin: .1rem;">充值彩宝币(1元=1彩宝币)，充值款项不支持退款</p>
		   	<div class="btn-recharge">
		   		<button class="mui-btn mui-btn-danger" id="RechargeBtn">充值</button>
		   	</div>
		</div>
	</body>
	<script src="../js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/ajax.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/pay.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		;(function(){
			
		document.querySelector('.mui-icon-left-nav').addEventListener('touchend',function(){
			window.history.back();
		})
		document.querySelector('.optmoney').addEventListener('touchend',function(ev){
			var ev = ev || window.event;
			var target = ev.target || ev.srcElement;
			var silb = target.parentNode.children;
			var arr = Array.prototype.slice.call(silb);
			arr.forEach(function(v,i){
				if(v.classList.contains('mui-btn-danger')){ //移除所有button 红色
					v.classList.remove('mui-btn-danger')
				}
				if(v.classList.contains('active')){ // input 的红色
					v.classList.remove('active')
				}
			})
			if(target.nodeName.toLocaleLowerCase()=='button'){			
				target.classList.add('mui-btn-danger');
			}else if(target.nodeName.toLocaleLowerCase()=='input'){
				target.classList.add('active')
			}
		})
	//多选处理成单选
		var radio2 = document.querySelectorAll('.payway input[name=radio2]');
		var arr2 = Array.prototype.slice.call(radio2);
			arr2.forEach(function(v,i){
				v.onchange = function(){				
					arr2.forEach(function(vs,is){
						if( v == vs){
							
						}else{
							vs.checked = false;
						}
					})
				}
			})
	//充值按钮
	document.querySelector('#RechargeBtn').addEventListener('touchend',function(){
		var ValEl = document.querySelector('.optmoney').children;
		var	ValArr = Array.prototype.slice.call(ValEl);
		var Val;
		ValArr.forEach(function(v,i){
			if(v.classList.contains('active')){
				Val = v.value;
			}else if(v.classList.contains('mui-btn-danger')){
				Val = v.innerText;
			}
		})
		var money = Number(Val);
		if(money){ //确保选择
			console.log('money：'+money)
			
			if( arr2.some(function(v,i){return v.checked}) ){
				//判读支付方式
				if( mui('#alipay')[0].checked ){
					//支付宝支付
					wtfcbpay({
						channel:'alipayH',
						amount:money,
						type:0,
						callback:function(res){
							var Obj = JSON.parse(res);
							console.log(Obj)
							if(Obj.code == 777){
								mui.confirm('你在其他地方登录了',' ',['确认','取消'],function(e){
								 	if(e.index == 0){
										mui.openWindow({
											url: '../login.html'							
										})
								 	}
								 },'div');	
							}else if( Obj.code == 0 ){
								localStorage.orderId = Obj['result'].orders_id;
								document.location.href = Obj['result']['data'];	
							}
							
						}
					})
					
					
				}else if ( mui('#payeco')[0].checked ){
					//银联支付
					paycbBuy({
						channel:'payeco',
						amount:money,
						type:0,
						callback:function(res){
							var Obj = JSON.parse(res);
							console.log(Obj)
							if(Obj.code == 777){
								mui.confirm('你在其他地方登录了',' ',['确认','取消'],function(e){
								 	if(e.index == 0){
										mui.openWindow({
											url: '../login.html'							
										})
								 	}
								 },'div');	
							}else if( Obj.code == 0 ){
								localStorage.isgopay = 1;
								localStorage.orderId = Obj['result'].orders_id;
								//更改状态 等返回页面的时候进行 查询
								document.location.href = Obj['result']['data'];
							}
							
						}
					})
				}else if( mui('#wechat')[0].checked ){
					//微信支付
					wtfcbpay({
						channel:'weChatH',
						amount:money,
						type:0,
						callback:function(res){
							var Obj = JSON.parse(res);
							console.log(Obj)
							if(Obj.code == 777){
								mui.confirm('你在其他地方登录了',' ',['确认','取消'],function(e){
								 	if(e.index == 0){
										mui.openWindow({
											url: '../login.html'							
										})
								 	}
								 },'div');	
							}else if( Obj.code == 0 ){
								localStorage.orderId = Obj['result'].orders_id;
								document.location.href = Obj['result']['data'];	
							}
							
						}
					})
					
				}
				
				
			}else{
				mui.alert('请选择支付方式'," ")
			}
		}else{
			mui.alert('请选择充值金额'," ")
		}
	})
	
	//代表用户去过支付页面了
	if(localStorage.orderId && localStorage.isgopay){
		mui.confirm('订单查询',' ',['完成支付','未支付'],function(e){
		 	if(e.index == 0){
		 		
				//点击确定开始轮循
				isstopfor(localStorage.isgopay,localStorage.orderId);
		 		var muipopu = '<div class="mui-popup-backdrop mui-active" style="display: block;"></div>';
		 		var muipobtn = '<div class="mui-popup mui-popup-in" style="display: block;"><div class="mui-popup-inner"><div class="mui-popup-title">正在查询订单</div><div class="mui-popup-text"><button type="button" class="mui-btn mui-disabled" disabled="" style="background:#fff;border:none;opacity:.3;"><span class="mui-spinner"></span>&nbsp;<span>Loading...</span></button></div></div>';
		 		append(document.body, muipopu)
		 		append(document.body, muipobtn)
		 		var timeout30 = setTimeout(function(){
		 			if(window.payTime){
		 				clearInterval(payTime)
		 				mui.toast('充值遇到了问题</br >请您联系客服',{ duration:3000, type:'div' })
		 				var timeout02 = setTimeout(function(){
		 					
			 				localStorage.removeItem('isgopay')
							localStorage.removeItem('orderId')
		 					location.reload()
		 				},3000)

						
		 			}
		 		},30000)
		 		
		 	}else if( e.index == 1 ){
		 		localStorage.removeItem('isgopay')
				localStorage.removeItem('orderId')
		 	}
		},'div');
		
	}

//类 jquery 的append
function append(parent, text) {
    if (typeof text === 'string') {
      var temp = document.createElement('div');
      temp.innerHTML = text;
      // 防止元素太多 进行提速
      var frag = document.createDocumentFragment();
      while (temp.firstChild) {
        frag.appendChild(temp.firstChild);
      }
      parent.appendChild(frag);
    }
    else {
      parent.appendChild(text);
    }
}

//轮循 num标识是否轮循环 orderId银联支付返回数据
function isstopfor(num,orderId){
	var drag = Number(num);
	
	if(num){
		window.payTime = setInterval(forcbpay,1000)
	}else{
		clearInterval(payTime)
	}
	//轮询查循

	function forcbpay(){
		javacb({
			orderId:orderId,
			callback:function(res){
				var Obj = JSON.parse(res);
				console.log(Obj)
				if(Obj.code == 0){
					if(Obj.result == 1){
					//关闭窗口
					mui.closePopups()
					mui('.mui-popup-backdrop')[0].style.display = 'none';
					mui('.mui-popup-in')[0].style.display = 'none';
					//弹出友好提示
					mui.toast('充值成功',{ duration:2000, type:'div' })
					//更新用户信息
						upuserInfor({
							callback:function(ress){
								localStorage.user = ress;
								location.reload();
							}
						})
						
					}
				}
				
			}
		})
	}
	
}



	
})()
		
		

		function alipay(opt){
			
			var config = {
				charset:'utf-8',
				body:'三方订单',
				notify_url:'http://trade.icaipiao123.com/api/v3/trade/alipayfeedback',
				out_trade_no:'2023384_5',
				partner:'2088512799404524',
				payment_type:'1',
				seller_id:'zhangkongshidai@163.com',
				service:'mobile.securitypay.pay',
				subject:'三方订单',
				total_fee:'1.00',
				sign:'TnkzCgzQf/Zc7HOYfIUVaofNBY80nyjWvEu8MJ9WremGLujl39pZRMMpeH65crufGl3H7jb1J1Xs/4dLJ90iu6XLW2qKt8k8/KeBGxeaFvW4%2Bt0lwUIx1iWSTIIGL77vDpdJ9bchlsg8pQgFfj%2BoCMuIlyBu37Pl%2BE/HLtlTic0%3D',
				sign_type:'RSA',
				callback:function(res){
					
				}
			}
			jsajax({
				method:'post',
				url:'https://openapi.alipay.com/gateway.do',
				data:{
					charset:'utf-8',
					body:'三方订单',
					notify_url:'http://trade.icaipiao123.com/api/v3/trade/alipayfeedback',
					out_trade_no:'2023384_5',
					partner:'2088512799404524',
					payment_type:'1',
					seller_id:'zhangkongshidai@163.com',
					service:'mobile.securitypay.pay',
					subject:'三方订单',
					total_fee:'1.00',
					sign:'TnkzCgzQf/Zc7HOYfIUVaofNBY80nyjWvEu8MJ9WremGLujl39pZRMMpeH65crufGl3H7jb1J1Xs/4dLJ90iu6XLW2qKt8k8/KeBGxeaFvW4%2Bt0lwUIx1iWSTIIGL77vDpdJ9bchlsg8pQgFfj%2BoCMuIlyBu37Pl%2BE/HLtlTic0%3D',
					sign_type:'RSA'	
				},
				success:function(res){
					config.callback(res)
				}
			})
			
		}
		
		
		
	</script>
</html>
