.mui-table-view li{
	position: relative;
	border-bottom: 0.03rem solid #F3F3F3;
	background: #f9f9f9;
}
/*即将揭晓*/
.mui-table-view li .bgimg{
	width: 1.56rem;
	height: 1.25rem;
	position: absolute;
	background: url(../image/jijiangjiexiao.png) no-repeat;
	background-size: cover;
}

.mui-table-view .mui-media-object{
	width: 35%;
	height: 3.125rem;
	max-width: none;
	margin-left: 0.15rem;
	margin-top: 0.3125rem;
}
.mui-table-view .mui-media-object.mui-pull-left {
	margin-right: 0;
}
.mui-media-body p{
	line-height: .4375rem;
	margin: 0.3125rem;
	font-size: 0.41rem;
}
.mui-media-body p:nth-child(1){
	color: #000;
}
.mui-media-body p:nth-child(3){
	color: #000;
}
.mui-media-body p:nth-child(3) span{
	color: darkgoldenrod;
}
.mui-media-body p i{
	font-style: normal;
	color: #000;
}
.mui-iframe-wrapper{
	width: 100%;
	height: 100%;
}