.hide{
	display: none;
}
.show{
	display: block;
}
#edit{
	font-size: .16rem;
	line-height: .21rem;
}
/*empty*/
.empty{
	background: url(../image/ic_emptypage_shopping_cart.png) no-repeat center center;
}
#empty{
	width: 100%;
	height: 100%;
	position: relative;
}
.emp-img{
	width: 1rem;
	height: 1rem;
	background: url(../image/ic_emptypage_shopping_cart.png) no-repeat center center;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	margin-left: -0.5rem;
	top: 20%;
}
.emp-com{
	position: absolute;
	top: 40%;
	width: 2.5rem;
	left: 50%;
	margin-left: -1.25rem;
	text-align: center;
}
.emp-com .mui-btn{
	width: 1.5rem;
	height:0.3rem;
}
/*bill-list*/
.bill-list-footer{
	width: 100%;
	height: .5rem;
	position: fixed;
	background: #F7F7F7;
	bottom: .5rem;
	overflow: hidden;
	z-index: 10;
}
.bill-list-footer .left{
	padding: 0.1rem;
	position: absolute;
	width: 80%;
	height: 100%;
	font-size: .14rem;
}
.bill-list-footer .left i{
	font-style: normal;
	font-size: .12rem;
	color: #C0C0C0;
}
.bill-list-footer .right{
	position: absolute;
	right: 0;
	width: 25%;
	height: 100%;
}
.bill-list-footer .right .mui-btn{
	width: 100%;
	height: 100%;
	top: 0;
	border-radius: 0;
}

#billList li,#careditlist li{
	height: 1rem;
	border-bottom: .01rem solid #F2F2F2;
}
#billList .mui-media-object,#careditlist .mui-media-object{
	width: 30%;
	height: 100%;
	max-width: none;
}
#billList .mui-media-body p,#careditlist .mui-media-body p{
	margin: 0.1rem 0;
	line-height: .16rem;
	
}
#billList .mui-media-body p:nth-child(1),#careditlist .mui-media-body p:nth-child(1){
	color: #000;
	font-size: .12rem
}
#billList .mui-media-body p:nth-child(2),#careditlist .mui-media-body p:nth-child(2){
	font-size: .1rem
}
#billList .mui-media-body p:nth-child(3),#careditlist .mui-media-body p:nth-child(3){
	margin-top: .1rem;
	position: relative;
}
#billList .mui-media-body p:nth-child(3) button,#careditlist .mui-media-body p:nth-child(3) button{
	width: 15%;
	height: .2rem;
	float: left;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
#billList .mui-media-body p:nth-child(3) .center,#careditlist .mui-media-body p:nth-child(3) .center{
	position: relative;
	width: 40%;
	height: .2rem;
	float: left;
	overflow: hidden;
}
#billList .mui-media-body p:nth-child(3) .center input{
	width: 100%;
	height: 100%;
	padding: 0;
	line-height: 100%;
	font-size: .1rem;
	padding-left: 0.1rem;
	color: #000;
}
#billList .mui-media-body p:nth-child(3) .center span,#careditlist .mui-media-body p:nth-child(3) .center span{
	position: absolute;
	right: 0.05rem;
	font-size: .08rem;
	top: .02rem;
}
#del {
	position: absolute;
	right: 0.1rem;
	font-size: .2rem;
}
/*bill-edit*/
#careditlist .mui-media-body p:nth-child(3) .center input{
	width: 100%;
	height: 100%;
	padding: 0;
	line-height: 100%;
	font-size: .1rem;
	padding-left: 0.04rem;
	color: #000;
}

#careditlist li .check-warp{
	width: 10%;
	float: left;
	height: 100%;
}
#careditlist li .check-warp .listCheckBox{
	left: 10%;
	top: 35%;
}
