header.mui-bar-nav .icon-car{
 	position: absolute;
 	right: 1.2625rem;
 	top: 0.3125rem;
 	background: url(../image/icon_home_page3.png) no-repeat;
 	background-size: 100% 100%;
}
header.mui-bar-nav .dian{
  	position: relative;
  	
  	color: #333;
}
.hide{
	display: none;
}

 /*detailcon*/
#DetaBan .mui-slider-item {
	width: 100%;
	height:6.25rem;
	background: #fff;
	overflow: hidden;
}
#DetaBan .mui-slider-item>a{
	width: 100%;
	height: 100%;
	display: block;
	padding: 5% 5%;
}
#DetaBan .mui-slider-item>a>img{
	width: 100%;
	height: 100%;
}
.mui-slider-indicator .mui-indicator{
	background: #FAFAFA;
}
.mui-slider-indicator .mui-active.mui-indicator {
    background: lawngreen;
}
.detail-title{
	background: #dec0c2;
	height: 1.1rem;
	line-height: 1.1rem;
	font-size: .4375rem;
	overflow: hidden;
}
.detail-title .mui-btn{
	color: #fff;
	height: 0.78125rem;
	margin-top: 0.15625rem;
	padding: 0.09375rem 0.3125rem;
	margin-left: 0.15625rem;
}
.detail-title .btn-ing{
	background: #F54A12;	
}
.detail-title .btn-ed{
	background: none;	
	color:lightgreen;
	border-color: lightgreen;
}
.detail-title span{
	margin-left: 0.15625rem;
}
.detail-infor{
	padding: 0 5%;
	background: #FAFAFA;
	overflow: hidden;
	margin-bottom: .3125rem;
}
.detail-infor p{
	margin: 0;
	line-height: .5rem;
	font-size: .3125rem;
	margin: .15625rem 0;
}
.detail-infor p:nth-child(1) span{
	color: #F54A12;
}

.detail-infor p:nth-child(3){
	width: 100%;
	background: #C0C0C0;
	height: .18875rem;
	border-radius: .125rem;
	position: relative;
}
.detail-infor p:nth-child(3) span{
	position: absolute;
	background: darkorange;
	display: block;
	height: 100%;
	border-radius: .125rem;	
}
.detail-infor p:nth-child(4) span{
	float: right;
}
.detail-infor p:nth-child(4) span i{
	color: cornflowerblue;
	font-style: normal;
}
.past-ann {
	font-size: .4375rem;
}
.part-recode{
	font-size: .4375rem;
	
}

/*buylist*/
#BuyList .mui-media-body p{
	margin: 0.15625rem;
	font-size: .3125rem;
	line-height: .5rem;
}
#BuyList .mui-media-body p:nth-child(1) span{
	color: cornflowerblue;
}
#BuyList .mui-media-body p:nth-child(2) span{
	color: orangered;
}
#BuyList li{
	padding:.3.125rem;
	border-bottom: .03125rem solid #F7F7F7;
}
#BuyList li img{
	border-radius: 50%;
}
.detail-range{
	background: #fff;
	margin-bottom: 1.5625rem;
}
.mui-input-row.mui-input-range{
	padding: 0 .3125rem;
}
/*detail-footer*/

.detail .mui-bar-tab{
	background: rgba(100,100,100,1);
	padding: 0 .3125rem;
}
.detail .mui-bar-tab .mui-btn{
	width: 45%;
	border-radius:.625rem;
	font-size: .375rem;
	margin-top: .15625rem;
}
/*22222222*/
.detail .mui-bar-tab .mui-btn:nth-child(1){
	float: left;
	color: #F54A12;
	position: relative;
}
.detail .mui-bar-tab .mui-btn:nth-child(2){
	float: right;
	color: #F3F3F3;
	background: #F54A12;
	border-color: #F54A12;
}
.detail .mui-btn .icon-car{
	vertical-align: text-top;
	margin-right: 0.15625rem;
	display: inline-block;
	width: .375rem;
	height: .375rem;
 	background: url(../image/icon_home_page3.png) no-repeat;
 	background-size: 100% 100%;
}
/*detail-win*/
.detail-win{
	background: #fff;
	margin-bottom: .3125rem;
	
}
.detail-win>.top>.left{
	position: relative;
	width: 30%;
	height: 2.5rem;
}
.detail-win>.top>.left>img{
	width: 1.5625rem;
	height: 1.5625rem;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -0.78125rem;
	margin-top: -0.78125rem;
}
.detail-win>.top>.left>.absolute{
	position: absolute;
	width: 1.5625rem;
	
}
.detail-win>.top>.left>.absolute>img{
	width: 100%;
	height: auto;
}
.detail-win>.top>.right{
	width: 70%;
	height: 2.5rem;
	padding-top: .007825rem;
}
.detail-win>.top>.right>p{
	margin: 0;
	font-size: .375rem;
}
.detail-win>.top>.right>p:first-child{
	color: #333;
}
.detail-win>.top>.right>p:first-child>span{
	color: blue;
}
.detail-win>.bottom{
	width: 100%;
	height: 1.1rem;
	padding: .15625rem .3125rem;
}
.detail-win>.bottom>.bot-warp{
	padding: 0 .15625rem;
	height: .78125rem;
	line-height: .78125rem;
	width: 100%;
	font-size: .375rem;
}
.detail-win>.bottom>.bot-warp>span>i{
	text-decoration: underline;
	font-style: normal;
}
/*countdown*/
.countdown{
	background: #fff;
}
.countdown>.btn-warp{
	padding: .15625rem;
	margin-bottom: .3125rem;
	line-height: .9375rem;
	font-size: .4375rem;
	color:lightgreen;
}
