<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="referrer" content="never">
	<!--忽略电话号码和email识别-->
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<!--当网站添加到主屏幕快速启动方式，将网站添加到主屏幕快速启动方式-->
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<!--隐藏ios上的浏览器地址栏-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<!-- UC默认竖屏 ，UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<meta name="browsermode" content="application">
	<!-- QQ强制竖屏 QQ强制全屏 -->
	<meta name="x5-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true">
	<meta name="x5-page-mode" content="app">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
	<title></title>
	<script src="../../js/fiexible.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/com.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/index.css"/>
    <style type="text/css">
    	#scroll{
    		top: 0;
    	}
    </style>
</head>
<body>
	
	
	<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
      <div class="mui-scroll" id="scroll">
      	<!--navList-->
	        <div id="nav-list-mounting">
	        	<div class="nav-list">        	
	        		<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="transverse">
						<div class="mui-scroll NavListTap" id="NavList">
							<button class="mui-btn active" itemid='0' sort='4' style="margin: 0;">全部商品<span class="mui-icon mui-icon-arrowthindown"></span></button>				
						</div>
					</div>
	        	</div>
	        </div>
	        <ul class="mui-table-view mui-table-view-chevron" id="GoodsList" style="padding-bottom: .5rem; ">
	          	
	        </ul>
      </div>
	</div>
	
	
</body>
</html>
<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/ajax.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/car.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	

;(function(){
window.scroll1 = mui('.mui-scroll-wrapper')[1]
var indexpage = 1;
var Drag = true;
var indexDrag = true;
var Maxy;
var navHeight = mui('#nav-list-mounting')[0].offsetHeight;
var top = mui("#nav-list-mounting")[0].offsetTop;
mui.init({
  pullRefresh : {
    container:"#refreshContainer",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
    up : {
      height:50,//可选.默认50.触发上拉加载拖动距离
      auto:true,//可选,默认false.自动上拉加载一次
      contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
      contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
      callback :function up(){
      	
     if(indexDrag){
     	indexpage ++;
     }
      		//var itemId = mui('#GoodsList')[0].lastChild.querySelector('.top').getAttribute('itemId')
   		  		
      		var btnAll = mui('.NavListTap button');
      		var transform = mui('.mui-scrollbar-indicator')[0].style.transform;
			var y = transform.match(/translate3d\(\d+px,\s*(\d+)px,\s*(\d+)px\)/i)[1];
      		var btnarr = Array.prototype.slice.call(btnAll)
			var Realbtn,typeId,sort;
			if(y　>　top　&& y != Maxy){
				Realbtn = btnarr.slice(0,btnarr.length/2)
			}else if(y　<　top　&& y != Maxy){
				Realbtn = btnarr.slice(btnarr.length/2)
			}
			
	      	if(Realbtn){
	      		Realbtn.forEach(function(v,i){
		      		if( v.classList.contains('active') ){
		      			typeId = v.getAttribute('itemid');
		      			sort  = v.getAttribute('sort')
		      		}
	      		})
	      	}
	      	if(indexDrag){
		      	getGoodsList({
		      		page:indexpage,
					typeId:typeId,
					callback:function(res){
						var arrs = JSON.parse(res).cbData;
						if(arrs.length == 0){
							indexDrag = false;
							return false;
						}
						productList(res)
					}
				})
	      	}
	      	
      	this.endPullupToRefresh(false);
      } //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
    }
  }
});

//分类吸顶  吸顶之后事件失效 
	
	var navEl = document.querySelector('#nav-list-mounting');
	var navMoun = document.querySelector('#Mounting');
	var navlistTap = document.querySelectorAll('.NavListTap');
	window.addEventListener('scroll',function(e){
		//console.log(e.target)
		if(e.target.id == 'scroll'){
			var transform = mui('.mui-scrollbar-indicator')[0].style.transform;
			var y = transform.match(/translate3d\(\d+px,\s*(\d+)px,\s*(\d+)px\)/i)[1];
			if( Drag ){
				Maxy = y
				Drag = false;
			}
			
			
		}
	})


//跳转详情页
mui('#GoodsList').on('tap','.top',function(){
	var itemId = this.getAttribute('itemId')
	localStorage.itemId = itemId;
	mui.openWindow({
		url:'detail.html',
		id:'detail',
		extras:{
			itemId:itemId
		},
		createNew:true
	})
})

//分类列表
	//分类导航
	//商品分类
	var GoodsList = document.querySelector('#GoodsList');
	jsajax({
		method:'POST',
		url:HostPort+'/goods/typeList',
		success:function(res){
			var arr = JSON.parse(res).cbData;
			//console.log(arr)
			 goodsclassBtnDom(arr)
		}
	});
	
//商品分类按钮dom
function goodsclassBtnDom(arr){
	if(arr.length == 0){
		 return false;
	}
	
	var NavList = document.querySelectorAll('.NavListTap');
	var Fragment = document.createDocumentFragment();

	for (var i = 0; i<arr.length;i++) {
		var Obtn = document.createElement('button');
		Obtn.className = 'mui-btn';
		function trims(str){  
		  return str.replace(/\s+/g,""); //去除字符算中的空格  
		}
		Obtn.innerHTML = trims(arr[i].title);
		Obtn.setAttribute('itemid',arr[i].itemid);
		
		Obtn.setAttribute('sort',3);
		Fragment.appendChild(Obtn);
		
	}
	
	NavList[0].appendChild(Fragment);
	
	navlistevent(NavList[0])
	
}
	
	//事件委托
	
function allSbiling(elm) {
	var a = [];
	var p = elm.parentNode.children;
	for(var i =0,pl= p.length;i<pl;i++) {
		a.push(p[i]);
	}
	return a;
}

function  navlistevent(NavList){
	
	
	mui(NavList).on('tap','button',function(ev){
		
		//mui('.mui-scrollbar-indicator')[0].style.transform = 'translate3d(0px, 50px, 0px)'
//		mui(window.scroll1).scroll().scrollTo(0,-200,100);
//		if( navEl.classList.contains('hide') ){
//      	navlistTap[1].innerHTML = navlistTap[0].innerHTML;
//      	navMoun.classList.add('hide');
//  		navEl.classList.remove('hide');
//  	}
		indexDrag = true;
		indexpage = 1;
		//点击初始化 indexpage
		//初始化滚动
		
		var ev = ev||window.event;
		var target = ev.target || ev.srcElement;
		if(target.nodeName.toLowerCase() == "button"){//之前js原生委托事件的处理
			var typeId = target.getAttribute('itemid');
			var arr = allSbiling(target); //获取目标元素的所有兄弟节点切转为真数组
			//删除所有
			arr.forEach(function(v,j){
				v.classList.remove('active');
				
				if(v.children.length>0){ //删除的是span 既箭头
					v.removeChild(v.children[0])
				}
			})
			//全部删除之后给自己加
			target.classList.add('active');		
			if(target.classList.contains("active")){
				var sort = Number(target.getAttribute('sort'));
			
				var Ospan = document.createElement('span');
				if( sort == 4 ){ //
					sort = 3;
					target.setAttribute('sort',sort);
					Ospan.className = 'mui-icon mui-icon-arrowthinup';	
				}else if( sort == 3 ){
					sort = 4;
					target.setAttribute('sort',sort);
					Ospan.className = 'mui-icon mui-icon-arrowthindown';
				}
				
				//如有span 点击不继续添加
				//var realArr = Array.prototype.slice.call(target.children);
				//console.log(target.children.length>0)
				if(target.children.length>0){
					if(sort == 4){
						target.children[0].className = 'mui-icon mui-icon-arrowthindown';
					}else if(sort==3){
						target.children[0].className = 'mui-icon mui-icon-arrowthinup';	
					}
				}else{
					
					target.appendChild(Ospan);
				}
				
				getGoodsList({
					typeId:typeId,
					sort:sort,
					callback:function(res){
						//清除dom
						GoodsList.innerHTML = '';
						productList(res)
						//
						
					}
				})
				
			}//选中的一些点逻辑处理
			
		}//目标对象
	})
	
}	
	
	mui(GoodsList).on('tap','button',function(){
		var goodsSaleId = this.getAttribute('itemId');		
		addcar({
			goodsSaleId:goodsSaleId,
			callback:function(res){
				//成功 返回 result 1
				//console.log(res)
				var Obj = JSON.parse(res);
				if(Obj.code == 0){
					mui.toast('已经添加到您的清单',{ duration:1000, type:'div' }) 
				}else if(Obj.code == 1){
					mui.toast('商品数量已达上限',{ duration:1000, type:'div' })
				}else if(Obj.code == 777){
					//被人顶了
					localStorage.user = '';
						mui.confirm('你在其他地方登录了',' ',['确认','取消'],function(e){
						 	if(e.index == 0){
								mui.openWindow({
									url: 'login.html',
									id:'login.html'
								})
						 	}
						 },'div');
				}
				else{
					mui.alert('服务器正在修复')
				}
			}
		})
	})
	
//默认调用 显示全部商品
getGoodsList({
	callback:function(res){
		productList(res)
	}
})

//弹窗管理 用户首次近  first 弹框 / 限制次数后台控制   可一寸 // 时间是活的 

function append(parent, text) {
    if (typeof text === 'string') {
      var temp = document.createElement('div');
      temp.innerHTML = text;
      // 防止元素太多 进行提速
      var frag = document.createDocumentFragment();
      while (temp.firstChild) {
        frag.appendChild(temp.firstChild);
      }
      parent.appendChild(frag);
    }
    else {
      parent.appendChild(text);
    }
}
function removeElement(_element){
 var _parentElement = _element.parentNode;
 if(_parentElement){
  _parentElement.removeChild(_element); 
 }
}
var ck=new Cookie("HasLoaded"); //每个页面的new Cookie名HasLoaded不能相同
if(ck.Read()==null){//未加载过，Cookie内容为空
	var muipopu = '<div class="mui-popup-backdrop mui-active" style="display: block;"></div>';
	var muipobtn = `<div class="mui-popup mui-popup-in" style="display: block; width: auto;">
		<div class="aci-back" style="background: url(../../image/aci01/redpack_aci.png) no-repeat;background-size: cover; width: 300px;height: 350px;">
			<img src="../../image/aci01/close.png" width="30px" height="30px" style="position: absolute; right: 0; top: 10%;" id="closeRec"/>
			<img src="../../image/aci01/nowRecive.png" width="100px" height="30px" style="position: absolute; bottom: 7%;left: 37%;" id="nowRecive"/>
		</div>
	</div>`;
	append(document.body, muipopu)
	append(document.body, muipobtn)
	mui('#nowRecive')[0].addEventListener("tap",function(){
		mui.openWindow({
			url:'view/view-aci/nowRecive.html'
		})
	})
	mui('#closeRec')[0].addEventListener('tap',function(){
		location.reload()
	})
	//设置保存时间
	var dd = new Date();

	dd = new Date(dd.getYear() + 1900, dd.getMonth(), dd.getDate());
	
	dd.setDate(dd.getDate() + 1);
	
	ck.setExpiresTime(dd);
	
	ck.Write("true"); //设置Cookie。只要IE不关闭，Cookie就一直存在
	
	}
	else{//Cookie存在	
		if(mui('.mui-popup-backdrop')[0]){	
			removeElement(mui('.mui-popup-backdrop')[0]);
			removeElement(mui('.mui-popup')[0]);
		}
	}




})()


//商品列表 参数 分类goodsSaleId
function getGoodsList(opt){
	
	var config ={
		typeId:0,//分类的ID 也就是 button 的itemid
		page:1,
		sort:4, //上 3 下 4 
		callback:function(res){
			
		}
	}
	for (var i in opt){
		config[i] = opt[i];
	}
	var Url = '?typeId='+config.typeId+'&page='+config.page+'&sort='+config.sort;
	jsajax({
		method:'post',
		url:HostPort+'/goods/typeGoodsList'+Url,
		success:function(res){
			
			config.callback(res);
		}
	})
}

function productList (res){
	var arr = JSON.parse(res).cbData;
	if(arr.length == 0){
		return false;
	}
	//console.log(arr)
	var Fragment = document.createDocumentFragment();
	for(var i = 0 ;i<arr.length;i++){		
		var Odiv01 = document.createElement('div');
		Odiv01.className = 'goodslist';
		//top
		var Odiv02 = document.createElement('div');
		Odiv02.className = 'top';
		Odiv02.setAttribute('itemId',arr[i].itemId);
		var TopDivBg = document.createElement('div');
		TopDivBg.className = 'top-bg';
		var OimgMoney = new Image();
		var TopDivText = document.createElement('span');
		TopDivBg.appendChild(OimgMoney);
		TopDivBg.appendChild(TopDivText);
		Odiv02.appendChild(TopDivBg)	
		var Oimg = new Image();
		Oimg.src = arr[i].image;
		Oimg.className = 'goods-img'
		Odiv02.appendChild(Oimg);
		var Ospan = document.createElement('span');
		Ospan.className = 'top-title';
		Ospan.innerText = arr[i]['title']
		Odiv02.appendChild(Ospan);
		//bottom
		var Odiv04 = document.createElement('div');
		Odiv04.className = 'bottom';
		var Obtn = document.createElement('button');
		Obtn.setAttribute('itemId',arr[i].itemId);//留着购物车需要
		Odiv04.appendChild(Obtn);
		if(arr[i].price == 1){
			
			OimgMoney.src = '../../image/ic_cover_money1.png';
			TopDivText.innerHTML = '1元<br />商品';
			Obtn.innerText = '一元抢购';
			
		}else if(arr[i].price == 10){
			
			OimgMoney.src = '../../image/ic_cover_money10.png';
			TopDivText.innerHTML = '10元<br />商品';
			Obtn.innerText = '十元抢购';
			
			
		}else if(arr[i].price == 50){
			
			OimgMoney.src = '../../image/ic_cover_money50.png';
			TopDivText.innerHTML = '50元<br />商品';
			Obtn.innerText = '五十元抢购';
			
			
		}else if(arr[i].price == 100){
			
			OimgMoney.src = '../../image/ic_cover_money100.png';
			TopDivText.innerHTML = '100元<br />商品';
			Obtn.innerText = '一百元抢购';
			
		}
		//center
		var Odiv03 = document.createElement('div');
		Odiv03.className = 'center';
		var CenP01 = document.createElement('p');
		var CenP02 = document.createElement('p');
		var CenSpan = document.createElement('span');
		var CenP03 = document.createElement('p');
		CenP01.innerText = '总需：'+arr[i].totalPerson+'人次';
		CenP02.className = 'progress';
		CenP02.appendChild(CenSpan);
		var per = (arr[i].finishPerson/arr[i].totalPerson)*100;
		if( per > 0&&per < 1){
			per = 1
		}
		var num = Math.floor(per);
		CenSpan.style.width = num+'%';
		CenP03.innerText = '揭晓进度 '+num+'%';
		Odiv03.appendChild(CenP01);
		Odiv03.appendChild(CenP02);
		Odiv03.appendChild(CenP03);
		
		Odiv01.appendChild(Odiv02);
		Odiv01.appendChild(Odiv03);		
		Odiv01.appendChild(Odiv04);
		Fragment.appendChild(Odiv01);
	}
	GoodsList.appendChild(Fragment);
}
</script>
